
  .tweets-continer {
    margin: auto;
    width: 60%;
  }

  .loading-image {
      width: 50%;
      margin: auto;
  }

  a {
    text-decoration: none;
  }

  .btn {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px #04db85 solid;
    color: #04db85;
    border-radius:3px;
    cursor: pointer;

    
}

.btn:hover {
    background-color: #04db85;
    color: #ffff;
}

  